<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="source-built" value="/home/chris/2.0.5/dotnet/bin/obj/x64/Release/source-built/" />
    <add key="prebuilt" value="/home/chris/2.0.5/dotnet/prebuilt/nuget-packages/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <config>
    <!-- This path is relative as a workaround to https://github.com/NuGet/Home/issues/2831 -->
    <add key="globalPackagesFolder" value="packages" />
  </config>
</configuration>