<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <!-- The commented out feeds were failing on non windows restore. Restore seems to finish successfully without them.
       Should be removed if restore does not regress-->
  <packageSources>
    <clear />
    <add key="source-built" value="/home/chris/2.0.5/dotnet/bin/obj/x64/Release/source-built/" />
    <add key="prebuilt" value="/home/chris/2.0.5/dotnet/prebuilt/nuget-packages/" />
  </packageSources>
</configuration>